.Divider {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.dark .Divider {
  background-color: #1d2c6b;
}
.vertical.Divider {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 100%;
  margin: 0 8px;
}
