.description {
  padding-top: 30px !important;
  max-width: 350px;
}
.divider {
  width: 1px;
  height: 100%;

  background-color: #dfe4ea;
}
.dark .divider {
  background-color: #1d2c6b;
}
.featuresColumn {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .divider {
    margin-top: 50px;
    margin-bottom: 50px;

    width: 100%;
    height: 1px;
    background-color: #dfe4ea;
  }
}
@media screen and (max-width: 450px) {
  .gridWrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .featuresColumn {
    margin-top: 0;
  }
  .features h1 {
    max-width: 330px;
  }
  .description {
    max-width: 300px;
  }
  .headerColumn {
    justify-content: center;
    align-items: center;
    text-align: center !important;
  }
  .title {
    text-align: left !important;
  }
}
